@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Manrope", sans-serif;
}

body {
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(100px, 20vw, 270px);
  background: url("./assets/background-svg.svg");
  background-size: cover;
  z-index: -1;
}

.common-width {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


/* footer

Create a blog page and answer the following questions:
a. When should you use context API?
b. What is a custom hook?
c. What is useRef?
d. What is useMemo?

Create a statistics page. It cannot be a simple line/bar chart. The chart will be
based on the assignment marks (all the marks you got so far) against the
assignment number. Don’t forget to give tooltips */